In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
first_dataset = pd.read_csv('Updated_Second_Innings_Data.csv')
first_dataset.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,wickets_remaining
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,10
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,10
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,4,0,4,0,NaN,NaN,10
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,10
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,2,2,0,NaN,NaN,10
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,10
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,1,0,0,0,1,1,0,NaN,NaN,10
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,1,0,1,0,NaN,NaN,10
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,4,0,4,0,NaN,NaN,10
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,1,0,0,1,1,0,NaN,NaN,10

In [6]:
second_dataset = pd.read_csv('IPL Matches 2008-2020.csv')
second_dataset.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
total_runs = first_dataset.groupby(['match_id','inning']).sum()['total_runs'].add(1).reset_index()

In [8]:
total_runs = total_runs[total_runs['inning']==1]

In [9]:
total_runs

      match_id  inning  total_runs
0            1       1         208
2            2       1         185
4            3       1         184
6            4       1         164
8            5       1         158
...        ...     ...         ...
1518     11347       1         144
1520     11412       1         137
1522     11413       1         172
1524     11414       1         156
1526     11415       1         153

[756 rows x 3 columns]

In [10]:
match_df = second_dataset.merge(total_runs[['match_id','total_runs']],left_on='id',right_on='match_id')

In [11]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,184
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,164
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,144
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,137
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,172
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,156
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,153

In [12]:
match_df['team1'].value_counts()

team1
Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Delhi Capitals                   6
Name: count, dtype: int64

In [13]:
match_df['team1'] = match_df['team1'].replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

In [14]:
teams = ['Kolkata Knight Riders',
         'Chennai Super Kings',
         'Kings XI Punjab',
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad']

In [15]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [16]:
match_df['team1'].value_counts()

team1
Sunrisers Hyderabad            97
Mumbai Indians                 92
Kings XI Punjab                83
Chennai Super Kings            83
Royal Challengers Bangalore    76
Kolkata Knight Riders          76
Delhi Capitals                 70
Rajasthan Royals               64
Name: count, dtype: int64

In [17]:
match_df['team2'].value_counts()

team2
Delhi Capitals                 91
Royal Challengers Bangalore    88
Kolkata Knight Riders          87
Mumbai Indians                 78
Kings XI Punjab                78
Rajasthan Royals               76
Chennai Super Kings            73
Sunrisers Hyderabad            70
Name: count, dtype: int64

In [18]:
match_df.shape

(641, 20)

In [19]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,7,179
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,8,149
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,10,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,144
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,137
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,172
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,156
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,153

In [20]:
match_df = match_df[['id','city','winner','total_runs']]

In [21]:
match_df = match_df.rename(columns={'id':'match_id'})

In [22]:
second_innings = match_df.merge(first_dataset,on='match_id')
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,wickets_remaining
0,1,Hyderabad,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,10
1,1,Hyderabad,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,10
2,1,Hyderabad,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,...,0,0,0,4,0,4,0,NaN,NaN,10
3,1,Hyderabad,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,10
4,1,Hyderabad,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,...,0,0,0,0,2,2,0,NaN,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,1,0,1,0,NaN,NaN,-3
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,2,0,2,0,NaN,NaN,-3
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,1,0,1,1,run out,KH Pandya,-4
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,2,0,2,0,NaN,NaN,-4
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,1,lbw,NaN,-5

In [23]:
second_innings = second_innings[second_innings['inning']==2]
second_innings.shape

(73304, 25)

In [24]:
second_innings['batting_team'] = second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['batting_team'] = second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')

In [25]:
second_innings['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Rajasthan Royals', 'Chennai Super Kings'], dtype=object)

In [26]:
# second_innings['current_Score'] = second_innings.groupby('match_id').cumsum()['total_runs_y']
# second_innings

In [27]:
second_innings['current_Score'] = second_innings.groupby('match_id')['total_runs_y'].cumsum()
#Ensure 'total_runs_y' is numeric using to_numeric with errors='coerce' to handle potential non-numeric values:
second_innings['total_runs_y'] = pd.to_numeric(second_innings['total_runs_y'], errors='coerce')

In [28]:
second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_Score']
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,wickets_remaining,current_Score,runs_left
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,0,NaN,NaN,6,1,207
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,6,1,207
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,6,1,207
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,0,NaN,NaN,6,3,205
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,0,NaN,NaN,6,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,1,0,NaN,NaN,-3,152,1
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,2,0,NaN,NaN,-3,154,-1
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,0,1,1,run out,KH Pandya,-4,155,-2
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,2,0,NaN,NaN,-4,157,-4
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,1,lbw,NaN,-5,157,-4

In [29]:
second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,wickets_remaining,current_Score,runs_left,balls_left
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,6,1,207,119
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,6,1,207,118
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,6,1,207,117
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,6,3,205,116
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,6,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,NaN,NaN,-3,152,1,4
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,NaN,NaN,-3,154,-1,3
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,run out,KH Pandya,-4,155,-2,2
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,NaN,NaN,-4,157,-4,1
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,lbw,NaN,-5,157,-4,0

## Getting wickets

In [30]:
# Step 1: Fill NA values with "0" and ensure the column is numeric
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x: 0 if x == "0" else 1)

# Step 2: Convert the 'player_dismissed' column to an integer type
second_innings['player_dismissed'] = second_innings['player_dismissed'].astype(int)

# Step 3: Calculate the cumulative sum of dismissals (wickets) by match_id
second_innings['wickets'] = second_innings.groupby('match_id')['player_dismissed'].cumsum()

# Step 4: Calculate wickets remaining (10 total - cumulative wickets)
second_innings['wickets_remaining'] = 10 - second_innings['wickets']

# Display the updated dataframe or save it if necessary
print(second_innings.head())

     match_id       city               winner  total_runs_x  inning  \
125         1  Hyderabad  Sunrisers Hyderabad           208       2
126         1  Hyderabad  Sunrisers Hyderabad           208       2
127         1  Hyderabad  Sunrisers Hyderabad           208       2
128         1  Hyderabad  Sunrisers Hyderabad           208       2
129         1  Hyderabad  Sunrisers Hyderabad           208       2

                    batting_team         bowling_team  over  ball  \
125  Royal Challengers Bangalore  Sunrisers Hyderabad     1     1
126  Royal Challengers Bangalore  Sunrisers Hyderabad     1     2
127  Royal Challengers Bangalore  Sunrisers Hyderabad     1     3
128  Royal Challengers Bangalore  Sunrisers Hyderabad     1     4
129  Royal Challengers Bangalore  Sunrisers Hyderabad     1     5

           batsman  ... extra_runs total_runs_y  player_dismissed  \
125       CH Gayle  ...          0            1                 1
126  Mandeep Singh  ...          0            0                 1
127  Mandeep Singh  ...          0            0                 1
128  Mandeep Singh  ...          0            2                 1
129  Mandeep Singh  ...          0            4                 1

     dismissal_kind  fielder  wickets_remaining  current_Score  runs_left  \
125             NaN      NaN                  9              1        207
126             NaN      NaN                  8              1        207
127             NaN      NaN                  7              1        207
128             NaN      NaN                  6              3        205
129             NaN      NaN                  5              7        201

     balls_left  wickets
125         119        1
126         118        2
127         117        3
128         116        4
129         115        5

[5 rows x 29 columns]

In [31]:
# second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")
# second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x:x if x=="0" else "1")
# # Ensure 'player_dismissed' is numeric before applying cumsum
# second_innings['player_dismissed'] = pd.to_numeric(second_innings['player_dismissed'], errors='coerce')
# wickets = second_innings.groupby('match_id').cumsum()['player_dismissed']
# second_innings['wickets_remaining'] = 10-wickets
# second_innings


# Step 1: Fill NA values with "0" and ensure the column is numeric
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x: 0 if x == "0" else 1)

# Step 2: Ensure the 'player_dismissed' column is of integer type
second_innings['player_dismissed'] = second_innings['player_dismissed'].astype(int)

# Step 3: Calculate the cumulative sum of dismissals (wickets) by match_id
wickets = second_innings.groupby('match_id')['player_dismissed'].cumsum()

# Step 4: Calculate wickets remaining (10 total - cumulative wickets)
second_innings['wickets_remaining'] = 10 - wickets

# Optional: Display or save the updated dataframe
print(second_innings.head())

     match_id       city               winner  total_runs_x  inning  \
125         1  Hyderabad  Sunrisers Hyderabad           208       2
126         1  Hyderabad  Sunrisers Hyderabad           208       2
127         1  Hyderabad  Sunrisers Hyderabad           208       2
128         1  Hyderabad  Sunrisers Hyderabad           208       2
129         1  Hyderabad  Sunrisers Hyderabad           208       2

                    batting_team         bowling_team  over  ball  \
125  Royal Challengers Bangalore  Sunrisers Hyderabad     1     1
126  Royal Challengers Bangalore  Sunrisers Hyderabad     1     2
127  Royal Challengers Bangalore  Sunrisers Hyderabad     1     3
128  Royal Challengers Bangalore  Sunrisers Hyderabad     1     4
129  Royal Challengers Bangalore  Sunrisers Hyderabad     1     5

           batsman  ... extra_runs total_runs_y  player_dismissed  \
125       CH Gayle  ...          0            1                 1
126  Mandeep Singh  ...          0            0                 1
127  Mandeep Singh  ...          0            0                 1
128  Mandeep Singh  ...          0            2                 1
129  Mandeep Singh  ...          0            4                 1

     dismissal_kind  fielder  wickets_remaining  current_Score  runs_left  \
125             NaN      NaN                  9              1        207
126             NaN      NaN                  8              1        207
127             NaN      NaN                  7              1        207
128             NaN      NaN                  6              3        205
129             NaN      NaN                  5              7        201

     balls_left  wickets
125         119        1
126         118        2
127         117        3
128         116        4
129         115        5

[5 rows x 29 columns]

In [32]:
# second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna(0)  # Fill NA with 0 instead of "0"
# second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x: 0 if x == 0 else 1)  # Use 0 and 1 as integers
# # The column should now be of numeric type, so this is not needed:
# # second_innings['player_dismissed'] = pd.to_numeric(second_innings['player_dismissed'], errors='coerce')
# wickets = second_innings.groupby('match_id').cumsum()['player_dismissed']
# second_innings['wickets_remaining'] = 10 - wickets
# second_innings


# Step 1: Fill NA values with 0 and ensure the column is numeric
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna(0)

# Step 2: Convert 'player_dismissed' to binary integers (0 and 1)
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x: 0 if x == 0 else 1)

# Step 3: Convert the 'player_dismissed' column to integer type (explicitly)
second_innings['player_dismissed'] = second_innings['player_dismissed'].astype(int)

# Step 4: Calculate the cumulative sum of dismissals (wickets) by match_id
second_innings['cumulative_wickets'] = second_innings.groupby('match_id')['player_dismissed'].cumsum()

# Step 5: Calculate the remaining wickets (10 - cumulative dismissals)
second_innings['wickets_remaining'] = 10 - second_innings['cumulative_wickets']

# Optional: Display the updated dataframe
print(second_innings.head())

     match_id       city               winner  total_runs_x  inning  \
125         1  Hyderabad  Sunrisers Hyderabad           208       2
126         1  Hyderabad  Sunrisers Hyderabad           208       2
127         1  Hyderabad  Sunrisers Hyderabad           208       2
128         1  Hyderabad  Sunrisers Hyderabad           208       2
129         1  Hyderabad  Sunrisers Hyderabad           208       2

                    batting_team         bowling_team  over  ball  \
125  Royal Challengers Bangalore  Sunrisers Hyderabad     1     1
126  Royal Challengers Bangalore  Sunrisers Hyderabad     1     2
127  Royal Challengers Bangalore  Sunrisers Hyderabad     1     3
128  Royal Challengers Bangalore  Sunrisers Hyderabad     1     4
129  Royal Challengers Bangalore  Sunrisers Hyderabad     1     5

           batsman  ... total_runs_y player_dismissed  dismissal_kind  \
125       CH Gayle  ...            1                1             NaN
126  Mandeep Singh  ...            0                1             NaN
127  Mandeep Singh  ...            0                1             NaN
128  Mandeep Singh  ...            2                1             NaN
129  Mandeep Singh  ...            4                1             NaN

     fielder  wickets_remaining  current_Score  runs_left  balls_left  \
125      NaN                  9              1        207         119
126      NaN                  8              1        207         118
127      NaN                  7              1        207         117
128      NaN                  6              3        205         116
129      NaN                  5              7        201         115

     wickets  cumulative_wickets
125        1                   1
126        2                   2
127        3                   3
128        4                   4
129        5                   5

[5 rows x 30 columns]

### Current Run Rate

In [33]:
second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,wickets_remaining,current_Score,runs_left,balls_left,wickets,cumulative_wickets,crr
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,NaN,NaN,9,1,207,119,1,1,6.00
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,1,NaN,NaN,8,1,207,118,2,2,3.00
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,1,NaN,NaN,7,1,207,117,3,3,2.00
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,1,NaN,NaN,6,3,205,116,4,4,4.50
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,1,NaN,NaN,5,7,201,115,5,5,8.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,NaN,NaN,-110,152,1,4,120,120,7.86
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,1,NaN,NaN,-111,154,-1,3,121,121,7.90
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,run out,KH Pandya,-112,155,-2,2,122,122,7.88
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,1,NaN,NaN,-113,157,-4,1,123,123,7.92
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,1,lbw,NaN,-114,157,-4,0,124,124,7.85

### Required Run Rate

In [34]:
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,dismissal_kind,fielder,wickets_remaining,current_Score,runs_left,balls_left,wickets,cumulative_wickets,crr,rrr
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,NaN,NaN,9,1,207,119,1,1,6.00,10.44
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,NaN,NaN,8,1,207,118,2,2,3.00,10.53
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,NaN,NaN,7,1,207,117,3,3,2.00,10.62
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,NaN,NaN,6,3,205,116,4,4,4.50,10.60
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,NaN,NaN,5,7,201,115,5,5,8.40,10.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,NaN,NaN,-110,152,1,4,120,120,7.86,1.50
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,NaN,NaN,-111,154,-1,3,121,121,7.90,-2.00
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,run out,KH Pandya,-112,155,-2,2,122,122,7.88,-6.00
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,NaN,NaN,-113,157,-4,1,123,123,7.92,-24.00
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,lbw,NaN,-114,157,-4,0,124,124,7.85,-inf

### finding winner

In [35]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [36]:
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,fielder,wickets_remaining,current_Score,runs_left,balls_left,wickets,cumulative_wickets,crr,rrr,results
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,NaN,9,1,207,119,1,1,6.00,10.44,0
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,NaN,8,1,207,118,2,2,3.00,10.53,0
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,NaN,7,1,207,117,3,3,2.00,10.62,0
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,NaN,6,3,205,116,4,4,4.50,10.60,0
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,NaN,5,7,201,115,5,5,8.40,10.49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152054,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,NaN,-110,152,1,4,120,120,7.86,1.50,0
152055,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,NaN,-111,154,-1,3,121,121,7.90,-2.00,0
152056,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,KH Pandya,-112,155,-2,2,122,122,7.88,-6.00,0
152057,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,NaN,-113,157,-4,1,123,123,7.92,-24.00,0
152058,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,NaN,-114,157,-4,0,124,124,7.85,-inf,0

### Only Taking required columns

In [37]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
125,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,119,9,208,6.00,10.44,0
126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,118,8,208,3.00,10.53,0
127,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,117,7,208,2.00,10.62,0
128,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,205,116,6,208,4.50,10.60,0
129,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,201,115,5,208,8.40,10.49,0
...,...,...,...,...,...,...,...,...,...,...
152054,Chennai Super Kings,Mumbai Indians,Hyderabad,1,4,-110,153,7.86,1.50,0
152055,Chennai Super Kings,Mumbai Indians,Hyderabad,-1,3,-111,153,7.90,-2.00,0
152056,Chennai Super Kings,Mumbai Indians,Hyderabad,-2,2,-112,153,7.88,-6.00,0
152057,Chennai Super Kings,Mumbai Indians,Hyderabad,-4,1,-113,153,7.92,-24.00,0
152058,Chennai Super Kings,Mumbai Indians,Hyderabad,-4,0,-114,153,7.85,-inf,0

### Sampling Data

In [38]:
final_data = required_data.sample(required_data.shape[0])

### Dropping NUll Values

In [39]:
final_data.dropna(inplace=True)

### Removing rows where balls_left==0 to remove -inf and inf from rrr column

In [40]:
final_data = final_data[final_data['balls_left']!=0]

### Storing data in new csv

In [41]:
final_data.to_csv("final_data.csv", index=False)

### Building Model

In [42]:
from sklearn.model_selection import train_test_split as tts

In [43]:
x = final_data.iloc[:, :-1]
y = final_data.iloc[:,-1]

In [44]:
x_train,x_test,y_train,y_test = tts(x,y,test_size=0.25,random_state=100)
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr
80838,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,56,34,-78,172,8.09,9.88
86073,Kings XI Punjab,Royal Challengers Bangalore,Chandigarh,66,33,-79,191,8.62,12.00
129480,Kolkata Knight Riders,Delhi Capitals,Delhi,220,116,6,224,6.00,11.38
80803,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,101,68,-43,172,8.19,8.91
27662,Mumbai Indians,Sunrisers Hyderabad,Centurion,105,83,-28,146,6.65,7.59
...,...,...,...,...,...,...,...,...,...
57744,Royal Challengers Bangalore,Kings XI Punjab,Dharamsala,161,57,-57,233,6.86,16.95
28155,Kings XI Punjab,Chennai Super Kings,Centurion,54,39,-73,186,9.78,8.31
98815,Sunrisers Hyderabad,Royal Challengers Bangalore,Hyderabad,110,84,-27,161,8.50,7.86
34282,Royal Challengers Bangalore,Sunrisers Hyderabad,Johannesburg,23,11,-100,144,6.66,12.55
84795,Rajasthan Royals,Chennai Super Kings,Jaipur,139,110,0,142,1.80,7.58

In [45]:
x_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr
41966,Rajasthan Royals,Chennai Super Kings,Chennai,232,110,0,247,9.00,12.65
56795,Delhi Capitals,Chennai Super Kings,Chennai,136,93,-17,177,9.11,8.77
73275,Delhi Capitals,Chennai Super Kings,Chennai,167,80,-32,223,8.40,12.52
62695,Delhi Capitals,Sunrisers Hyderabad,Delhi,52,38,-76,158,7.76,8.21
34500,Sunrisers Hyderabad,Kolkata Knight Riders,Mumbai,56,45,-70,162,8.48,7.47
...,...,...,...,...,...,...,...,...,...
151759,Chennai Super Kings,Delhi Capitals,Visakhapatnam,69,56,-55,156,8.16,7.39
144775,Chennai Super Kings,Kolkata Knight Riders,Kolkata,16,7,-106,171,8.23,13.71
72588,Mumbai Indians,Rajasthan Royals,Jaipur,35,36,-81,163,9.14,5.83
72331,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,51,33,-79,133,5.66,9.27
111347,Mumbai Indians,Delhi Capitals,Mumbai,85,51,-62,153,5.91,10.00

In [46]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# trf = ColumnTransformer([
#     ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
# ],
# remainder='passthrough')



from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Updated OneHotEncoder to use 'sparse_output' instead of 'sparse'
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
],
remainder='passthrough')

# Now you can proceed with fitting and transforming the data

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [48]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [49]:
y_pred = pipe.predict(x_test)

In [50]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.806966055706296

In [51]:
pipe.predict_proba(x_test)[0]

array([0.99075865, 0.00924135])

In [52]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [53]:
final_data['city'].unique()

array(['Chennai', 'Durban', 'Chandigarh', 'Ahmedabad', 'Bangalore',
       'Delhi', 'Abu Dhabi', 'Dharamsala', 'Indore', 'Mohali',
       'Port Elizabeth', 'Mumbai', 'Kolkata', 'East London', 'Pune',
       'Nagpur', 'Hyderabad', 'Jaipur', 'Bengaluru', 'Sharjah',
       'Johannesburg', 'Raipur', 'Kimberley', 'Visakhapatnam', 'Cuttack',
       'Centurion', 'Ranchi', 'Bloemfontein', 'Cape Town'], dtype=object)

## Random Forest classifier

In [54]:
# from sklearn.ensemble import RandomForestClassifier
# trf = ColumnTransformer([
#     ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
# ],
# remainder='passthrough')

# pipe = Pipeline([
#     ('step1',trf),
#     ('step2',RandomForestClassifier())
# ])

# pipe.fit(x_train,y_train)

# y_pred = pipe.predict(x_test)

# accuracy_score(y_test,y_pred)



from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

# Use 'sparse_output=False' instead of 'sparse=False'
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

# Define the pipeline
pipe = Pipeline([
    ('step1', trf),
    ('step2', RandomForestClassifier())
])

# Train the pipeline
pipe.fit(x_train, y_train)

# Make predictions
y_pred = pipe.predict(x_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Output the accuracy
print(f"Accuracy: {accuracy}")

Accuracy: 0.9978404119829448

In [55]:
pipe.predict_proba(x_test)[0]

array([0.99, 0.01])

In [56]:
pickle.dump(pipe,open('pipe2.pkl','wb'))

In [ ]:
#hi